@{
    ViewBag.Title = "Confirm your Email";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>
    <div>
        <p>
           The confirmation link was sent to your e-mail. Please verify your e-mail address.
        </p>
    </div>
</div>
