@model BlogApp.Models.MyEmailService


<div class="container">
    <div class="row">
        <hr />
        <div class="col-md-6">
            <h3>Your e-mail was sent.</h3>
            <h4>Thank you for contact me! </h4>
            @Html.ActionLink("Back to main","Index")
        </div>
    </div>

</div>